<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <!-- try-for-free を /contact にリダイレクト -->
        <rule name="RedirectTryForFree" stopProcessing="true">
          <match url="^platform/try-for-free$" />
          <action type="Redirect" url="/contact" redirectType="Permanent" />
        </rule>
		
		<!-- Price https://www.agilepoint.com/platform/pricing -->
		<rule name="RedirectPrice" stopProcessing="true">
          <match url="^platform/pricing$" />
          <action type="Redirect" url="https://www.agilepoint.com/platform/pricing" redirectType="Permanent" />
        </rule>
		
		<!-- https://www.agilepoint.com/partners/partner-in-the-spotlight-->
		<rule name="Redirectpartner-in-the-spotlight" stopProcessing="true">
          <match url="^partners/partner-in-the-spotlight$" />
          <action type="Redirect" url="https://www.agilepoint.com/partners/partner-in-the-spotlight" redirectType="Permanent" />
        </rule>
		
		<!-- become-a-partner を /contact にリダイレクト -->
        <rule name="RedirectBecomeAPartner" stopProcessing="true">
          <match url="^partners/become-a-partner$" />
          <action type="Redirect" url="/contact" redirectType="Permanent" />
        </rule>
		
        <!-- request-demo を /contact にリダイレクト -->
        <rule name="RedirectRequestDemo" stopProcessing="true">
          <match url="^platform/request-demo$" />
          <action type="Redirect" url="/contact" redirectType="Permanent" />
        </rule>

		<!-- training-schedule を /contact にリダイレクト -->
        <rule name="RedirectTrainingSchedule" stopProcessing="true">
          <match url="^training-schedule$" />
          <action type="Redirect" url="/contact" redirectType="Permanent" />
        </rule>

        <!-- platform/subscribe-newsletter を agilepoint.com にリダイレクト -->
        <rule name="Redirectplatformsubscribe-newsletter" stopProcessing="true">
          <match url="^platform/subscribe-newsletter$" />
          <action type="Redirect" url="https://www.agilepoint.com/platform/subscribe-newsletter" redirectType="Permanent" />
        </rule>

		<!-- partners/find-a-partner を agilepoint.com にリダイレクト -->
        <rule name="Redirectfindapartner" stopProcessing="true">
          <match url="^partners/find-a-partner$" />
          <action type="Redirect" url="/partners/service-partners" redirectType="Permanent" />
        </rule>

		<!-- partners/partner-in-the-spotlight を agilepoint.com にリダイレクト -->
        <rule name="Redirectpartnerspotlight" stopProcessing="true">
          <match url="^partners/partner-in-the-spotlight$" />
          <action type="Redirect" url="/partners/service-partners" redirectType="Permanent" />
        </rule>

        <!-- /event-webinar を agilepoint.com にリダイレクト -->
        <rule name="RedirectEventWebinar" stopProcessing="true">
          <match url="^resources/event-webinar$" />
          <action type="Redirect" url="https://www.agilepoint.com/resources/event-webinar" redirectType="Permanent" />
        </rule>
		
        <!-- /podcast を agilepoint.com にリダイレクト -->
        <rule name="Redirectpodcast" stopProcessing="true">
          <match url="^resources/podcast$" />
          <action type="Redirect" url="https://www.agilepoint.com/resources/podcast" redirectType="Permanent" />
        </rule>
				
        <!-- /resources/resource-center を agilepoint.com にリダイレクト -->
        <rule name="Redirectresourcecenter" stopProcessing="true">
          <match url="^resources/resource-center$" />
          <action type="Redirect" url="https://www.agilepoint.com/resources/resource-center" redirectType="Permanent" />
        </rule>

        <!-- /blog を agilepoint.com にリダイレクト -->
        <rule name="Redirectblog" stopProcessing="true">
          <match url="^blog$" />
          <action type="Redirect" url="https://www.agilepoint.com/blog" redirectType="Permanent" />
        </rule>
		
        <!-- trust-center/terms-and-conditions を agilepoint.com にリダイレクト -->
        <rule name="Redirectconditions" stopProcessing="true">
          <match url="^trust-center/terms-and-conditions$" />
          <action type="Redirect" url="https://www.agilepoint.com/trust-center/terms-and-conditions" redirectType="Permanent" />
        </rule>
		
        <!-- trust-center/privacy-policy を agilepoint.com にリダイレクト -->
        <rule name="Redirectprivacy" stopProcessing="true">
          <match url="^trust-center/privacy-policy$" />
          <action type="Redirect" url="https://www.agilepoint.com/trust-center/privacy-policy" redirectType="Permanent" />
        </rule>
	
        <!-- trust-center/acceptable-use-policy を agilepoint.com にリダイレクト -->
        <rule name="Redirectacceptableusepolicy" stopProcessing="true">
          <match url="^trust-center/acceptable-use-policy$" />
          <action type="Redirect" url="https://www.agilepoint.com/trust-center/acceptable-use-policy" redirectType="Permanent" />
        </rule>

		<!-- trust-center/fips-compliance を agilepoint.com にリダイレクト -->
        <rule name="Redirectfipscompliance" stopProcessing="true">
          <match url="^trust-center/fips-compliance$" />
          <action type="Redirect" url="https://www.agilepoint.com/trust-center/fips-compliance" redirectType="Permanent" />
        </rule>
			
        <!-- legal/platform-privacy を agilepoint.com にリダイレクト -->
        <rule name="Redirectlegalplatformprivacy" stopProcessing="true">
          <match url="^legal/platform-privacy$" />
          <action type="Redirect" url="https://www.agilepoint.com/legal/platform-privacy" redirectType="Permanent" />
        </rule>
			
        <!-- legal/privacy-shield を agilepoint.com にリダイレクト -->
        <rule name="Redirectlegalprivacyshield" stopProcessing="true">
          <match url="^legal/privacy-shield$" />
          <action type="Redirect" url="https://www.agilepoint.com/legal/privacy-shield" redirectType="Permanent" />
        </rule>

        <!-- legal/gdpr を agilepoint.com にリダイレクト -->
        <rule name="Redirectlegalgdpr" stopProcessing="true">
          <match url="^legal/gdpr$" />
          <action type="Redirect" url="https://www.agilepoint.com/legal/gdpr" redirectType="Permanent" />
        </rule>

        <!-- legal/nx-mobile-app-privacy-policy を agilepoint.com にリダイレクト -->
        <rule name="Redirectlegalnxmobileappprivacypolicy" stopProcessing="true">
          <match url="^legal/nx-mobile-app-privacy-policy$" />
          <action type="Redirect" url="https://www.agilepoint.com/legal/nx-mobile-app-privacy-policy" redirectType="Permanent" />
        </rule>

        <!-- legal/mobile-application-end-user-license-agreement を agilepoint.com にリダイレクト -->
        <rule name="Redirectlegalmobileapplicationenduserlicenseagreement" stopProcessing="true">
          <match url="^legal/mobile-application-end-user-license-agreement$" />
          <action type="Redirect" url="https://www.agilepoint.com/legal/mobile-application-end-user-license-agreement" redirectType="Permanent" />
        </rule>

        <!-- legal/softwareterms-pdf を agilepoint.com にリダイレクト -->
        <rule name="Redirectlegalsoftwaretermspdf" stopProcessing="true">
          <match url="^legal/softwareterms-pdf$" />
          <action type="Redirect" url="https://www.agilepoint.com/legal/softwareterms-pdf" redirectType="Permanent" />
        </rule>

        <!-- .html省略URLを実ファイルに書き換える -->
        <rule name="HideHtmlExtension" stopProcessing="true">
          <match url="^(.*)$" ignoreCase="true" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{REQUEST_FILENAME}.html" matchType="IsFile" />
          </conditions>
          <action type="Rewrite" url="{R:0}.html" />
        </rule>

        <!-- .html付きURLを拡張子なしにリダイレクト -->
        <rule name="RedirectHtmlExtension" stopProcessing="true">
          <match url="^(.*)\.html$" ignoreCase="true" />
          <conditions>
            <add input="{URL}" pattern="^(.*)\.html$" />
          </conditions>
          <action type="Redirect" url="{R:1}" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
